/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/*
#FCF9EA
#BADFDB
#FFA4A4
#FFBDBD
*/

.parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.cassetteTape {
    width: 40%;
  }

@media (max-width: 768px) {
  .cassetteTape {
    width: 60%;
  }
}

@keyframes tapeAnimation {
  from {transform: translateY(0px);}
  to {transform: translateY(75px);}
}

.translateImg {
  animation-name: tapeAnimation; 
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

body {
  background: rgba(255, 255, 255, 1);
  font-family: Arial, Helvetica, sans-serif;
}

.icons-parent-holder {
  display: flex;
  justify-content: end;
}

.icons-parent{
  display: flex;
  width: 50px;
  justify-content: space-between;
  margin-top: 20px;
  margin-right: 20px;
}

.icons {
  width: 20px;
}

.mixtape-title {
  margin-top: 100px;
}

.mixtape-note {
  margin: 0px 0px 40px;
}

.button-group {
  display: flex;
  width: 300px;
  justify-content: space-between;
}

.button {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

.input-box {
  border-radius: 10px;
  font-size: large;
  height: 50px;
  width: 400px;
  padding: 0px 20px;
}

.input-box2 {
  border-radius: 10px;
  font-size: large;
  height: 50px;
  width: 400px;
  padding: 0px 20px;
}

.input-parent {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}

.button-submit{
  height: 40px;
  width: 100px;
  font-weight: bold;
  font-size: large;
  border-radius: 10px;
  margin-bottom: 50px;
}
