/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/*
#FCF9EA
#BADFDB
#FFA4A4
#FFBDBD
*/

.parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.cassetteTape {
    /* margin-top: 200px; */
    width: 40%;
  }

.spotify-player {
  width: 40%;
}

@media (max-width: 768px) {
  .cassetteTape {
    width: 60%;
  }
  .spotify-player {
    width: 60%;
  }
}

@keyframes tapeAnimation {
  from {transform: translateY(0px);}
  to {transform: translateY(75px);}
}

.translateImg {
  animation-name: tapeAnimation; 
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes shareAnimation {
  from {transform: translate(0px, 0px);}
  to {transform: translate(75px, -75px);}
}

.translateShareIcon {
  animation-name: shareAnimation; 
  animation-duration: 0.5s;
}

body {
  background: rgba(255, 255, 255, 1);
  font-family: Arial, Helvetica, sans-serif;
}

.icons-parent-holder {
  display: flex;
  justify-content: end;
}

.icons-parent{
  display: flex;
  width: 50px;
  justify-content: space-between;
  margin-top: 50px;
  margin-right: 50px;
}

.icons {
  width: 20px;
}

.mixtape-title {
  /* margin-top: 50px 0px 0px 0px; */
  /* margin-bottom: -415px; */
  /* background-color: cornflowerblue; */
  padding: 15px;
}

.mixtape-note {
  margin: 30px 0px;
}

.button-group {
  display: flex;
  width: 300px;
  justify-content: space-between;
}

.button {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

.input-box {
  border-radius: 10px;
  font-size: large;
  height: 50px;
  width: 400px;
  padding: 0px 20px;
}

.input-box2 {
  border-radius: 10px;
  font-size: large;
  height: 50px;
  width: 400px;
  padding: 0px 20px;
}

.input-parent {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}

.button-submit{
  height: 40px;
  width: 100px;
  font-weight: bold;
  font-size: large;
  border-radius: 10px;
  margin-bottom: 50px;
}

.toast {
  height: 40px;
  width: 200px;
  font-weight: bold;
  font-size: large;
  border-radius: 10px;
  margin-bottom: 50px;
  text-align: center;
  color: black; 
}