/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/*
#FCF9EA
#BADFDB
#FFA4A4
#FFBDBD
*/

.bodyParent {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.cassetteTape {
    width: 75%;
  }

@keyframes tapeAnimation {
  from {transform: translateY(0px);}
  to {transform: translateY(100px);}
}

.translateImg {
  animation-name: tapeAnimation; 
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

body {
  background: #FCF9EA;
  font-family: Arial, Helvetica, sans-serif;
}